# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr



# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
server/migrations/add_logo_url_to_organizations.js
server/migrations/add_status_to_users.js
server/routes/uploads/support-tickets/382724bea2af7f4d/1775561796453-Gemini_Generated_Image_xwl7u0xwl7u0xwl7.png
server/routes/uploads/support-tickets/583c1cf02acd32d5/1775556032578-Gemini_Generated_Image_xwl7u0xwl7u0xwl7.png
server/routes/uploads/support-tickets/73a723382284a852/1775555486314-Gemini_Generated_Image_xwl7u0xwl7u0xwl7.png
server/scripts/fix-support-tables.js
server/scripts/test-support-system.js
